<div class="card flex container-fluid justify-content-center text-center m-1">
  <div class="row">
    <p-card
      class="my-1"
      header="Position Tracking with Influx DB @Berlin Tempelhof"
    >
    </p-card>

    <app-map class="col-10"></app-map>
    <div class="col-2">
      <p-card class="m-1">
        <p class="mt-2">New Data ever 10 seconds (realtime)</p>
        The average walking speed of a human varies depending on factors such as
        age, fitness level, terrain, and purposeful pace. However, for a rough
        estimate, we can consider an average walking speed of around 1.4 to 1.6
        meters per second (m/s) for adults walking at a comfortable pace on
        level ground.
      </p-card>
    </div>
  </div>
</div>
